<h3>
  Cart
</h3>

<a routerLink="/shipping">Shipping prices</a>

<div class="cart-items" *ngFor="let item of items">
  <span style="color: white">{{ item.name }}</span><br />
  <span style="color: white">{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name" />
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address" />
  </div>

  <button class="button" type="submit">Purchase</button>
</form>
